
body{background:#0f172a;color:white;font-family:Arial;padding:20px}
nav a{color:#60a5fa;margin-right:15px;text-decoration:none}
.card{background:#1e293b;padding:20px;border-radius:10px}
input,textarea{width:100%;background:#111827;color:white;border:1px solid #374151;padding:10px}
